html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
    display: flex;
}

nav {
    width: calc(20%);
    overflow-y: auto;
    padding: 20px;
    box-sizing: border-box;
    background: #000000;
    color: #f5f5f7;
    height: 100%;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
}

#sigma-container {
    width: 100%;  /* Use full width */
    height: 600px; /* Or any desired height */
    border: 1px solid #ccc;
}


/* Modal Styles */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
    position: relative; /* For close button positioning */
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    position: absolute;
    top: 10px;
    right: 15px;
}

.close:hover, 
.doc:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
#chats {
    flex: 1; /* Allow chats to grow and take available space */
    overflow-y: auto; /* Enable scrolling within chats */
}
.model_selector {

    font-size: 12px;
    margin-bottom: 10px;
    
}
.model_selector select {

    background: #000000;
    color: #fff;
    
}
.chat-header{
    color: #fff;
}
button {
    background: #000000;
    color: #fff;
    cursor: pointer;
    border: 2px solid #000;
    border-radius: 8px;
    font-size: 12px;
    transition: background-color 0.3s ease;
    box-sizing: border-box;
}

button.chat {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: left;
    width: calc(100%);
    padding: 10px 20px;
}

button.delete {
    text-align: center;
    padding: 4px 8px;
}

#chats > div { /* Targets direct children divs of #chats */
    display: flex;
    align-items: center;
}

nav button:last-child {
    margin-bottom: 0;
}

nav button:hover {
    background: #ff00a0;
}

button img.surrealdb-logo {
    height: 40px;
    padding-right: 10px;
    vertical-align: middle;
}

button img {
    -webkit-user-drag: none;
}

main {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
    background: #151517;
}

main form {
    display: flex;
    height: 50px;
}

main form input {
    border-radius: 10px;
    border: 2px solid #444748;
    padding: 10px;
    box-sizing: border-box;
    font-family: inherit;
    margin-right: 10px;
    flex: 1;
    background: #151517;
    color: #f5f5f7;
}

main form button {
    width: 100px;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 10px;
    background: #ff00a0;
    color: #fff;
    border: none;
    text-align: center;
    display: block;
    height: 100%;
}

a:-webkit-any-link {
    color: #ff00a0;
    cursor: pointer;
    text-decoration: underline;
}

.messages {
    overflow-y: auto;
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.message {
    border-radius: 15px;
    padding: 15px;
    background: #151517;
    margin-bottom: 15px;
    color: #f5f5f7;
    display: flex;
    flex-direction: column;
}

.message .message-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.message .messenger-name {
    font-weight: bold;
    font-size: 1rem;
    color: #ff00a0;
}

.message .message-time {
    font-size: 0.85rem;
    color: #f5f5f7;
    display: flex; 
}
.message .message-time button {
    padding: 4px 8px;
}

.message p.message-content {
    margin: 0;
}

.system.message .messenger-name {
    color: #9600ff;
}
