
.container {
  max-width: 600px;
  margin: 0 auto;
}

h1 {
  font-size: 2em;
  color: #333;
  margin-bottom: 20px;
}

body {
  background-color: #f4f4f4;
  font-family: Arial, sans-serif;
  padding: 30px;
  color: #333;
}

.notesGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 20px;
}

.note {
  background-color: #fff;
  padding: 20px;
  box-shadow: 0px 5px 15px #9600ff;  /* Add shadow effect */
  height: 200px;
  overflow: hidden;
  border-radius: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.title {
  color: #ff00a0;
}



/* rest of your CSS code */


input, textarea {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

button {
  background-color:#ff00a0;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  margin-bottom: 20px;
  margin-right: 5px;

}



button:hover {
  background-color: #379683;
}

