
<style>

.entity_info {
            display: inline-block;
            vertical-align: top;
            margin-left: 20px;
        }
</style>

<h1>{{entity_info["entity_type"]}} : {{entity_info["name"]}} Detail</h1>



<div id="entity_tabs">
    <ul>
        <li><a href="#relation_list">Relations ({{entity_relations | length}})</a></li>
        <li><a href="#mention_list">Mentions ({{entity_mentions | length}})</a></li>
        <li><a href="#entity_graph" hx-get="/load_graph/?identifier={{entity_info['identifier']}}" hx-target="#entity_graph" id="loadGraphButton"
            hx-include="#corpusTableSelect, #graphSizeLimit">Graph</a></li>
    </ul>
<span class="entity_info" style="display: inline-block;" id="relation_list">
    <table>
        <thead>
            <tr>
                <th>With</th>
                <th>
                    Relations (confidence) & Context</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entity_relations %}
            <tr>
                <td>
                    {{entity["entity_type"]}}:
                    <a hx-get="/entity_detail?identifier={{entity["identifier"]}}"
                    hx-target="#node_detail" hx-include="#corpusTableSelect" hx-swap="innerHTML">
                    {{entity["name"]}}
                </a></td>  
                <td>
                    <div class="sitesection">
                                <button  class="expand-contexts">
                                    ({{entity["relations"] | length}}) 
                                </button>
                        <table class="expand-contexts-content">
                            <tbody>
                                {% for relation in entity["relations"] %}
                                    <tr>
                                        <td>{{relation["relationship"]}} ({{relation["confidence"] | round(1) }})</td>
                                        <td>
                                            <a hx-get="/source_documents/{{ relation["source_document"]["url"] | format_url_id  }}" class="doc" hx-target="node_detail" 
                                            hx-include="#corpusTableSelect">
                                            {{relation["source_document"]["title"]}}
                                            </a>
                                        </td>
                                        <td>
                                            <div class="sitesection">

                                                Context
                                                <button  class="expand-contexts">
                                                    ({{relation["contexts"] | length}}) 
                                                </button>
                                                
                                                {%for context in relation["contexts"] %}
                                                    <pre class="expand-contexts-content" style="white-space: pre-wrap;">{{context}}</pre>
                                                {% endfor %}
                                            </div>
                                        </td>
                                    </tr>
                                {% endfor %}
                                
                            </tbody>    

                        </table>
                    </div>


                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</span>
    <span class="entity_info" style="display: inline-block;" id="mention_list">
    <table>
        <thead>
            <tr>
                <th>Source Document</th>
                <th>Additional Data</th>
                <th>Contexts</th>
            </tr>
        </thead>
        <tbody>
    {% for mention in entity_mentions %}
            <tr>
                <td>
                    <a hx-get="/source_documents/{{ mention["source_document"]["url"] | format_url_id  }}" class="doc" hx-target="node_detail" 
                    hx-include="#corpusTableSelect">
                    {{mention["source_document"]["title"]}}
                    </a>

                </td>
                <td><pre style="white-space: pre-wrap;">{{mention["additional_data"]}}</pre></td>

                <td>
                    <div class="sitesection">

                        Context
                        <button  class="expand-contexts">
                            ({{mention["contexts"] | length}}) 
                        </button>
                        {%for context in mention["contexts"] %}
                            <pre class="expand-contexts-content" style="white-space: pre-wrap;">{{context}}</pre>
                        {% endfor %}
                        
                    </div>
                </td>
            </tr>
    {% endfor %}

    </table>
    </span>

    <span class="entity_info" style="display: inline-block;" id="entity_graph">
        Show graph here
    </span>
<script>
$('.expand-contexts').click(function(){
    theElementToToggle = $(this).parent().find('> .expand-contexts-content');
    theElementToToggle.slideToggle('fast').focus();;
});
$( function() {
    $( "#entity_tabs" ).tabs();
} );
</script>