
<h1>{{entity_info["entity_type"]}} : {{entity_info["name"]}} Detail</h1>


<h3>Relations ({{entity_relations | length}}):</h3>

<table>
    <thead>
        <tr>
            <th>Relation</th>
            <th>Confidence</th>
            <th>Entity Type</th>
        </tr>
    </thead>
    <tbody>
{% for relation in entity_relations %}

<tr>
    <td><button hx-get="/entity_detail?identifier={{relation["identifier"]}}"
        hx-target="#nodeDetail" hx-include="#corpusTableSelect" hx-swap="innerHTML">
        {{relation["name"]}}
    </button></td>  
    <td>{{relation["confidence"] | round(1)}}</td>
    <td>{{relation["entity_type"]}}</td>
</tr>
{% endfor %}
</tbody>
</table>

<h3>Mentions ({{entity_mentions | length}}):</h3>
<table>
    <thead>
        <tr>
            <th>Source Document</th>
            <th>Additional Data</th>
            <th>Contexts</th>
        </tr>
    </thead>
    <tbody>
{% for mention in entity_mentions %}
        <tr>
            <td>
                <a hx-get="/documents/{{ mention["source_document"] | format_url_id  }}" class="doc" hx-target="doc_detail" 
                hx-include="#corpusTableSelect">
                mention["source_document"]
                </a>

            </td>
            <td><pre style="white-space: pre-wrap;">{{mention["additional_data"]}}</pre></td>

            <td>
                <div class="sitesection">
                    <p class="expand-contexts"><a href="#">{{mention["contexts"] | length}} ... </a> <img src="images/arrow.png" width="5" height="7" /></p>
                    {%for context in mention["contexts"] %}
                        <pre class="expand-contexts-content" style="white-space: pre-wrap;">{{context}}</pre>
                    {% endfor %}
                    
                </div>
            </td>
        </tr>
{% endfor %}

</table>
<style>
    .expand-contexts-content {
        display:none;
    }
</style>
<script>
$('.expand-contexts').click(function(){
    $('.expand-contexts-content').slideToggle('fast');
});

</script>