<div class="chat-id">Chat ID: {{chat_id}}</div>
<div class="messages">
    {% for message in messages %}
    <div class="{{ message.role }} message">
        <div class="message-header">
            <span class="messenger-name">{{ message.role | capitalize }}</span>
            <span class="message-time">
                {{ message.timestamp | convert_timestamp_to_date }}
                <button hx-get="/messages/{{ message.id }}" id="message-{{ message.id | extract_id }}" class="message" hx-target="message_detail">
                    detail
                </button>
            </span>
        </div>
        <p class="message-content">{{ message.content | safe }}</p>
    </div>
    {% endfor %}
</div>

<form id="messageform" hx-post="/chats/{{ chat_id }}/send-user-message" hx-target=".messages" hx-swap="beforeend" 
hx-include="#llmModelSelect, #embedModelSelect">
   
    <input type="text" name="content" />
    <button>Send</button>
</form>
