<div class="system message"  hx-include="#llmModelSelect, #embedModelSelect">
    <div class="message-header">
        <span class="messenger-name"> System</span>
        <span class=" message-time">{{ timestamp | convert_timestamp_to_date }}</span>
    </div>
    <p class="message-content">{{ content | safe }}</p>
</div>

<div id="update-button-data" data-new-title="{{ new_title }}"></div>

{% if new_title %}

<script>
   updateData = document.getElementById('update-button-data');
   
   if (updateData && updateData.dataset.newTitle) {
        newTitle = updateData.dataset.newTitle;
        
        
        button = document.querySelector('#{{ chat_id | extract_id }}'); 
       
        if (button) {
            button.textContent = newTitle;
            updateData.dataset.newTitle = "";
        }
    }
    
</script>

{% endif %}