<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SurrealDB Face detection</title>
    <link href="/static/styles.css" rel="stylesheet">
</head>
<body>
    <header>
        <div class="logo"></div>
    </header>
    <a href="/capture">
        <button id="startCamera" type="button">Start Camera</button>
    </a>
    
    <div class="surreal-logo">
        <img src="static/assets/surrealdb-logo-light.svg" />
    </div>
</body>
</html>
