{
    "trailingComma": "es5",
    "tabWidth": 4,
    "semi": true,
    "singleQuote": true,
    "plugins": ["prettier-plugin-organize-imports", "prettier-plugin-tailwindcss"],
    "endOfLine": "auto",
    "organizeImportsSkipDestructiveCodeActions": true
}