
<table id="cust_table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Firm Type</th>
            <th>Assets Under Management</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        
        {% for firm in custodians %}
             <tr>
                <td>
                    <a hx-get="/firms/{{firm["identifier"]}}"
                        hx-target="#node_detail" hx-swap="innerHTML" class="model_open">
                        {{firm["identifier"]}}
                    </a>
                </td> 
                <td>
                    {{firm["name"]}}
                </td> 
                <td>
                    {{firm["firm_type"]}}
                </td> 
                <td>
                    {{ "${:,.0f}".format(firm["assets_under_management"]) }}
                </td> 
                <td>
                    {% for customer in firm["customers"] %}
                        <a hx-get="/firms/{{customer["identifier"]}}"
                                hx-target="#node_detail" hx-swap="innerHTML" class="model_open">
                                {{customer["name"]}}
                            </a>
                            <br>
                    {% endfor %}
                </td> 
            </tr>
        {% endfor %}
    </tbody>
</table>    
<script>
$('#cust_table').DataTable();
</script>