
<h1>
<a hx-get="/firms/{{filing["firm"]["identifier"]}}"
                    hx-target="#node_detail" hx-swap="innerHTML">
                    {{filing["firm"]["name"]}}
                </a> : {{filing["signitory_id"]}} Detail

</h1>

    
<span class="signitory_info" style="display: inline-block;" id="detail">   
{% for field in field_mapping %}
    <tr>
        <td>{{field["field_display_name"]}}</td>
        <td>{{filing[field["surql_field_name"]]}}</td>
    </tr>
{% endfor %}
</span>
<span class="signitory_info" style="display: inline-block;" id="signed_list">
    <h2>Compliance Officers</h2>
    <table>
        <thead>
            <tr>
                <th>Person</th>
                <th>As of</th>
                <th>Title</th>
            </tr>
        </thead>
        <tbody>
        {% for node in compliance_officers %}
            <tr>
                <td>
                    <a hx-get="/firms/{{filing["firm"]["identifier"]}}/people/{{signitory["signitory"]["full_name"]}}"
                        hx-target="#node_detail" hx-swap="innerHTML">
                        {{node["full_name"]}}
                    </a>
                </td> 
                <td>
                    {{node["as_of_latest_signitory_date"]}}
                </td> 
                <td>{{node["title_at_time_of_signitory"]}}</td> 
            </tr>
        {% endfor %}
        </tbody>
    </table>
</span>
    <h2>Signitories</h2>
    <span class="signitory_info" style="display: inline-block;" id="signitory_list">
    <table>
        <thead>
            <tr>
                <th>Signitory</th>
                <th>Execution Date</th>
                <th>Title</th>
            </tr>
        </thead>
        <tbody>
    {% for node in signitory_signitories %}
            <tr>
                <td>

                    {{node["signitory_title"]}} - 
                    <a hx-get="/firms/{{filing["firm"]["identifier"]}}/people/{{node["signitory"]["full_name"]}}"
                        hx-target="#node_detail" hx-swap="innerHTML">
                        {{node["full_name"]}}
                    </a>
                </td>
                <td> 
                    {{node["execution_date"]}}</td>
                <td> 
                <td> 
                    {{node["signatory_title"]}}</td>
                <td> 
            </tr>
    {% endfor %}

    </table>
    </span>

    <span class="signitory_info" style="display: inline-block;" id="signitory_graph">
        Show graph here
    </span>
<script>